.navbar {

}

.title {
    color: yellow !important;
}

@media screen and (max-width : 750px) {

    .NavbarClock {
        display: none;
    }

    .NavbarTitle {
        margin: 0 !important;
    }

    .NavbarSearch {
        width: 10rem !important;
    }

    .title {
        margin-left: 3rem;
    }
}

@media screen and (max-width :519px) {
    .NavbarSearch {
        display: none;
    }

    .NavbarTitle {
        margin: auto !important;
    }

    .title {
        display: none;
    }
}